@use "../../styles/variables" as *;
@use "sass:color";

.app-header {
  background: white;
  box-shadow: $shadow-sm;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 60px;
  display: flex;
  align-items: center;

  .container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    color: $primary-color;
    font-size: 24px;
    font-weight: 800;
  }

  .header-actions {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .user-info {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
  }

  .user-name {
    display: none;
  }
  @media (min-width: 1024px) {
    .user-name {
      display: block;
    }
  }

  .logout-btn,
  .login-btn {
    // background: $bg-hover;
    padding: 6px 12px;
    border-radius: 6px;
    font-weight: 600;

    &:hover {
      background: color.adjust($bg-hover, $lightness: -5%);
    }
  }
}
