@use '../../styles/variables.scss' as *;

.avatar {
    border-radius: 50%;
    overflow: hidden;
    background-color: $bg-hover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    &--sm { width: 32px; height: 32px; font-size: 14px; }
  &--md { width: 40px; height: 40px; font-size: 16px; }
  &--lg { width: 48px; height: 48px; font-size: 18px; }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &_fallback {
    color: $text-secondary;
    font-weight: 600;
  }
}