@use "../../styles/variables" as *;

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: $spacing-lg;

  &.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $bg-color;
    z-index: 9999;
  }
}

.spinner {
  display: inline-block;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  animation: spin 0.8s linear infinite;

  &.primary {
    border-top-color: $primary-color;
    border-right-color: rgba($primary-color, 0.4);
    border-bottom-color: rgba($primary-color, 0.4);
    border-left-color: rgba($primary-color, 0.4);
  }

  &.white {
    border-top-color: #fff;
    border-right-color: rgba(255, 255, 255, 0.4);
    border-bottom-color: rgba(255, 255, 255, 0.4);
    border-left-color: rgba(255, 255, 255, 0.4);
  }

  &.sm {
    width: 16px;
    height: 16px;
    border-width: 2px;
  }

  &.md {
    width: 32px;
    height: 32px;
    border-width: 3px;
  }

  &.lg {
    width: 48px;
    height: 48px;
    border-width: 4px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
